
QMainWindow {
    background-color: #f0f0f0;
}

QMenuBar {
    border: 1px solid #dcdcdc;
    color: #1d1c1c;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, serif;
    font-weight: bold;
    padding:3px 3px;
}


QMenu {
    color: #333333;
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    padding: 5px;
    font-size: 14px;
    font-family: Arial, serif;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.1);
}


QMenu::item {
    padding: 8px 20px;
    margin: 2px 0;
    border-radius: 4px;
    color: #333333;
}


QMenu::item:selected {
    background-color: #e8e8e8;
    color: #000000;
}


QMenu::separator {
    height: 1px;
    background-color: #e0e0e0;
    margin: 4px 10px;
}


QMenu::item:pressed {
    background-color: #009688;
    color: #ffffff;
}

QScrollArea {
    border: none;
    background-color: #f0f0f0;
}

QScrollBar:vertical {
    border: none;
    background-color: #e0e0e0;
    width: 12px;
    margin: 15px 0 15px 0;
}

QScrollBar::handle:vertical {
    background-color: #aaaaaa;
    min-height: 20px;
    border-radius: 6px;
}


QTabWidget::pane {
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    background-color: #ffffff;
}


QTabBar::tab {
    border: 1px solid #dcdcdc;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-right: 2px;
    padding: 10px 20px;
    color: #333333;
    font-family: Arial, serif;
    min-height: 50px;
}


QTabBar::tab:hover {
    background-color: #e0e0e0;
    color: #000000;
}

QTabBar::tab:selected {
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
    border-bottom: 2px solid #009688;
}


QTabBar {
    background-color: #f0f0f0;
}


QTabWidget::pane {
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    background-color: #ffffff;
}


